* {
    font-family: Helvetica;
    box-sizing: border-box;
  }
  
  body {
  min-height: 100vh;
  min-width: 100vh;
  font-family: 'Open Sans', sans-serif;
  background-color: darkgreen;

  } 

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
  } 

  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin: 50px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: glow 2s infinite alternate;
    font-family: Arial, Helvetica, sans-serif;
  }

@keyframes glow {
  0% {
    text-shadow: 0 0 10px white;
  }
  100% {
    text-shadow: 0 0 20px white, 0 0 30px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 60px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de;
  }
}
  

.players {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

h2 {
  margin: 10px;
}

#player1 {
    background-color: rgba(54, 20, 222, 0.936);
    border-radius: 12px;
    padding: 10px;
    height: 12vmin;
    width: 30vmin;
    font-size: 3vmin;
    margin: 10px;
    padding: 15px;
    color: white;
   
}
#player2 {
    background-color: purple;
    border-radius: 12px;
    padding: 10px;
    height: 12vmin;
    width: 30vmin;
    font-size: 3vmin;
    margin: 10px;
    padding: 15px;
    color: white;
   
    
}

  .cards-container {
    display: grid;
    grid-template-columns: repeat(7, 8vmin);
    grid-template-rows: repeat(6,12vmin);
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: -5vmin;
    padding: 30px;
    row-gap: 0;
    column-gap: 0.8vmin;
  }


 #player1-pairs, #player2-pairs, #winner-message {
    display: inline-block;
    margin: 0;
    padding: 0;
}

  
 .card { 
  height: 55px; 
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in;
  perspective: 1000px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  transform: rotateY(180deg); 
  
}


.flipped {
  transform: rotateY(360deg);
  height: 55px; 
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

#winner-message {
  width: 30vmin;
  height: 7vmin;
  margin: auto;
  padding: 2vmin;
  font-size: 3vmin;
  border-radius: 4vmin;
  border: 0.3vmin solid grey;
  color: black;
  background-color: yellow;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vmin;
  height: 7vmin;
  margin: auto;
  padding: 2vmin;
  font-size: 3vmin;
  border-radius: 5vmin;
  border: 0.3vmin solid grey;
  color: grey;
}

button:hover {
  color: white;
  background-color: #27ae60;
}

@media (min-width: 768px) {

.players {
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-align: center;
  } 
  
.cards-container {
  display: grid;
  grid-template-columns: repeat(7, 6vmin);
  grid-template-rows: repeat(6, 9.5vmin);
} 

.card { 
  height: 70px; 
}
 
.flipped {
  transform: rotateY(360deg);
  height: 70px; 
}

